
<div class="page-host-new">
  <div class="content-box">
    <section class="toggle-section page-section">
        <div class="a-panel a-margin-tp-50 a-p-20 button-section-wrapper code-wrapper">
            <div class="sample-code-wrapper">
                <div class="a-bg-gray p-3">
                    <app-select
                        [dataItems]="data"
                        [label]="label"
                        (onChange)="onSelection($event)"
                    >
                    </app-select>
                </div>
            </div>
        </div>
    </section>
  </div>
</div>


