<p>
  select works!
</p>

<div *ngIf="dataItems.length > 0">
  <label>{{ label }}</label>
  <ul>
    <li *ngFor="let item of dataItems">
      {{ item.label }}
    </li>
  </ul>
</div>


<div class="a-dropdown">
  <div class="a-dropdown-toggle">
      <div class="a-choosen-text">Choose a metric</div>
      <i class="a-icon appkiticon icon-down-chevron-fill"></i>
  </div>
  <div class="a-dropdown-menu">
      <div class="a-dropdown-item">Action</div>
      <div class="a-dropdown-item">Another action</div>
      <div class="a-dropdown-item">Something else here</div>
  </div>
</div>