<p>
  select works!
</p>

<section class="toggle-section page-section">
  <div class="anchor-wrapper">
      <h3 id="anchor-five" class="section-title anchor-target">Selector
      </h3>
  </div>
  <div class="a-panel a-margin-tp-50 a-p-20 button-section-wrapper code-wrapper">
      <div class="d-flex a-bg-gray">
          <div class="p-3 w-100">
              <select class="a-selector1 a-select">
                <option
                  value="option.id"
                  *ngFor="let option of data">
                {{ option["displayLabel"] || option }}
                </option>
              </select>
          </div>
      </div>
  </div>
</section>