<p>
  select works!
</p>

<section class="toggle-section page-section">
  <div class="anchor-wrapper">
      <h3 id="anchor-five" class="section-title anchor-target">Selector
          <span class="collapse-icon a-cursor-pointer desc-toggle">
              <i class="appkiticon icon-down-chevron-fill"></i>
          </span>
      </h3>
      <div class="section-description" hidden>Select components are used for collecting user
          provided information from a list of options. </div>
  </div>
  <div class="a-panel a-margin-tp-50 a-p-20 button-section-wrapper code-wrapper">
      <div class="d-flex a-bg-gray">
          <div class="p-3 w-100">
              <!-- <div class="a-selector" id="selector1">
                      <div class="a-dropdown-toggle">
                          <div class="a-choosen-text">Choose a metric</div>
                          <i class="a-icon appkiticon icon-down-chevron-fill"></i>
                      </div>
                      <div class="a-dropdown-menu"></div>
                  </div> -->
              <select class="a-selector1 a-select">
                  <!-- <option disabled selected value> -- Select -- </option> -->
                  <option value="first">Option one</option>
                  <option value="second" data-comments="Port Duanefurt">Option two</option>
                  <option value="third" data-comments="Port Duanefurt">Option three</option>
                  <option value="forth">Option four</option>
                  <option value="fifth">Option five</option>
                  <option value="sixth">Option six</option>
                  <option value="seventh">Option seven</option>
                  <option value="eighth">Option eight</option>
              </select>
          </div>
      </div>
  </div>
</section>