<div class="a-dropdown" [ngClass]="{'a-show': dropDownVisible}" *ngIf="dataItems.length > 0">
  <div class="a-dropdown-toggle" (click)="toggleDropdown()" (keydown)="onKeyup(item)">
      <input 
        type="text" 
        class="a-choosen-text"
        [ngClass]="{ 'input-pointer': !searchable }"
        [readonly]="!searchable"
        [(ngModel)]="inputSearch"
        [placeholder]="placeholder"> 
      <i 
        class="a-icon appkiticon" 
        [ngClass]="{'icon-up-chevron-fill': dropDownVisible, 'icon-down-chevron-fill': !dropDownVisible }"></i>
  </div>
  <div class="a-dropdown-menu" *ngIf="dropDownVisible">
    <div 
        class="a-dropdown-item"
        [ngClass]="{ 'active': item.active}" 
        *ngFor="let item of dataItems | filter: inputSearch" 
        (click)="onSelect(item)"
        (keyup)="onKeyup(item)"
    >{{ item.label }}
    </div>
  </div>
</div>
